<!DOCTYPE html>
<html>
<body>

<h2>This sever ip is: {{ansible_all_ipv4_addresses}} </h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">
<h2>This is {{ansible_distribution}} server</h2>
<img src="img_chania.jpg" alt="Flowers in Chania" width="460" height="345"><br>
</body>
</html>
